/**************Tag Selectors****************/

body {
    background-color: #F1FAEE;
    }

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color: #a8dadc;
    border-width: 5px;
    width: 10%;
  }

h1{
    font-family: 'Montserrat';
    color: #1d3557;
}

h3{
    font-family: 'Montserrat';
    color: #457b9d;
}

h4{
    font-family: 'Montserrat';
    color: #e63946;
}

p{
    font-family: 'Montserrat';
    color: #1d3557;
}

table{
    font-family: 'Montserrat';
    color: #1d3557;
}

ul{
    font-family: 'Montserrat';
    color: #1d3557;
}

a{
    color: #457b9d;
}

/*****************Class Selector******************/

.circular {
    border-radius: 100%;
}

.link:hover{
    color: #a8dadc;
}